<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xaluoqone.customview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CustomView"
        tools:ignore="AllowBackup">
        <activity android:name=".CustomSizeActivity"></activity>
        <activity android:name=".EditTextActivity" />
        <activity android:name=".AnimatorActivity" />
        <activity android:name=".NewsActivity" />
        <activity android:name=".TransformActivity" />
        <activity android:name=".SportActivity" />
        <activity android:name=".RadarActivity" />
        <activity android:name=".PorterDuffXfermodeTestActivity" />
        <activity android:name=".DashboardAndPieActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>